{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/env",
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "react-refresh/babel"
      ]
    },
    "production": {
      "presets": [
        "@babel/env",
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}